In [5]:
import os
os.getcwd()

'C:\\Users\\riya.shah'

In [6]:
import pandas as pd

In [7]:
data=pd.read_csv('Train.csv')
data

                                                    text  label
0      I grew up (b. 1965) watching and loving the Th...      0
1      When I put this movie in my DVD player, and sa...      0
2      Why do people who do not know what a particula...      0
3      Even though I have great interest in Biblical ...      0
4      Im a die hard Dads Army fan and nothing will e...      1
...                                                  ...    ...
39995  "Western Union" is something of a forgotten cl...      1
39996  This movie is an incredible piece of work. It ...      1
39997  My wife and I watched this movie because we pl...      0
39998  When I first watched Flatliners, I was amazed....      1
39999  Why would this film be so good, but only gross...      1

[40000 rows x 2 columns]

In [8]:
pwd

'C:\\Users\\riya.shah'

In [9]:
data.head()

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1

In [10]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
vect=CountVectorizer()
docs=np.array(['I am Riya ,studying in final year engineering'
             'I am learning sentiment analysis'
             'Sentiment analysis plays a very crucial role in deciding the reviews of people'])
bag=vect.fit_transform(docs)

In [11]:
print(bag.toarray())

[[2 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1]]

In [12]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\riya.shah\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
tfidf=TfidfVectorizer(
use_idf=True,norm='l2',smooth_idf=True)

In [15]:
y=data.label.values

In [16]:
X=tfidf.fit_transform(data['text'].values.astype('U'))

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1,test_size=0.5,shuffle=False)

In [19]:
import pickle
from sklearn.linear_model import LogisticRegressionCV

In [20]:
cif=LogisticRegressionCV(cv=5,scoring='accuracy',random_state=0,n_jobs=-1,verbose=3,max_iter=300).fit(X_train,y_train)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 out of   5 | elapsed:  3.3min remaining:  4.9min
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:  3.5min finished

In [21]:
saved_model=open('Train.sav','wb')

In [22]:
pickle.dump(cif,saved_model)

In [23]:
saved_model.close()

In [24]:
filename='Train.sav'
saved_cif=pickle.load(open(filename,'rb'))
saved_cif.score(X_test,y_test)

0.89305